<%= params[:question]  %>

<p> -You </p>
<% if params[:question].include?('?') %>
<%= 'Silly question, get dressed and go to work!'  %>
<% elsif params[:question].capitalize == 'I am going to work' %>
<%= 'Great!' %>
<% else %>
<%= "I don't care, get dressed and go to work!" %>
<% end %>

<p> -Your coach </p>

<%= link_to "Ask a new question", ask_path %>
